body {
    margin: 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 25px;
    overflow-x: hidden;
    user-select: none;
}

h1 {
    text-align: center;
}

button {
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav button {
    margin: auto 10px;
    padding: auto;
    font-size: 25px;
}

.status {
    text-align: center
}

#all-notes {
    margin: auto auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.note {
    margin: auto 20px 10px 20px;
    flex: 1;

    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    align-items: center;

    display: flex;
    justify-content: space-between;
}

.title {
    padding: 10px;

    display: block;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    text-align: left;
    text-decoration: none;
    color: black;
}

.delete-cross svg {
    padding: 10px;

    display: block;
    width: 40px;
    flex-shrink: 0;

    cursor: pointer;
}

/* Стили для экранов шириной до 920px */
@media screen and (max-width: 920px) {
    h1 {
        font-size: 40px;
    }

    nav {
        justify-content: center;
    }

    #all-notes {
        width: 90%;
    }
}

/* Стили для экранов шириной от 920px */
@media screen and (min-width: 920px) {
    h1 {
        font-size: 70px;
    }

    nav {
        justify-content: flex-end;
    }

    #all-notes {
        width: 50%;
    }
}
