<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

    <title>WebNotes | Index</title>
</head>
<body>
    <h1>Index</h1>

    <h3>Please, log in to use this service!</h3>

    {% if error %}
        <p class="error">Error: {{ error }}</p>
    {% endif %}

    <form action="{{ url_for('index') }}" method="post">
        <input type="password" name="secret_key" placeholder="secret key" required>
        <button type="submit">Log in</button>
    </form>
</body>
</html>
