<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="../static/css/note.css">
    <script src="../static/js/note.js"></script>

    <title>WebNotes | Note</title>
</head>
<body>
    <nav>
        <button id="save" onclick="saveFunc()">save</button>
        <button id="all_notes">all notes</button>
        <button id="logout">logout</button>
    </nav>

    <h1>Note editor</h1>

    <div id="funcs">
        <button id="h1" onclick="wrapTag(this)">h1</button>
        <button id="h2" onclick="wrapTag(this)">h2</button>
        <button id="h3" onclick="wrapTag(this)">h3</button>
        <button id="b" onclick="wrapTag(this)">b</button>
        <button id="i" onclick="wrapTag(this)">i</button>
        <button id="a" onclick="wrapTag(this)">a</button>
    </div>

    <div id="editor" contenteditable="true"></div>
</body>
</html>