<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/note.css') }}">

    <title>WebNotes | Note "{{ note_name }}"</title>
</head>
<body>
    <nav class="no-select">
        <button id="save" onclick="saveNote()">save</button>
        <a href="{{ url_for('all_notes') }}"><button id="all_notes">all notes</button></a>
        <button id="logout">logout</button>
    </nav>

    <h1 class="no-select">Note editor</h1>

    <div id="editor" contenteditable="true">{{ existing_text }}</div>

    <script src="{{ url_for('static', filename='js/note.js') }}"></script>
</body>
</html>
