<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/notes_list.css') }}">

    <title>WebNotes | Notes List</title>
</head>
<body>
    <h1>Notes List</h1>
    <a href="{{ url_for('note', note_name='sample') }}">Note 1</a>
</body>
</html>
